@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,600;8..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap');
:root {
  --blue: #33348E; 
  --light-blue: #E3E3FF;
  --pink: #E3188B;
  --white: #FFFFFF;   
}
::-webkit-scrollbar {
  width: 12px;
  background-color:#E0E0E0;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue);
}
html {
  overflow-x: hidden;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: currentColor;
  transition: 0.3s;
}
.pink {
  color: var(--pink);
}
.hidden {
  display: none;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.mobileVersion {
  background-color: var(--blue);
  color: var(--white);
}
.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}
.main {
  flex: 1 1 auto;
  margin-top: 158px;
}
.container {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.section {
  margin-top: 144px;
}
.sectionTitle {
  font-family: "Exo 2", sans-serif;
  font-size: 64px;
  line-height: 72px;
  color: var(--blue);
  font-weight: 600;
  width: 100%;
  text-align: center;
}
.sectionDesc {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 32px;
  max-width: 870px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 24px;
}
/* ===== HEADER ===== */
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  background-color: var(--white);
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
}
.header__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 18px;
  padding-bottom: 28px;
}
.hamburgerDiv {
  display: flex;
  align-items: center;
  gap: 18px;
  cursor: pointer;
  position: absolute;
  left: 20px;
  z-index: 4;
  overflow: hidden;
}
.hamburger__text {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  line-height: 22px;
  font-weight: 600;
  color: var(--blue);
  transition: 0.3s;
}
.hamburger {
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  position: relative;
}
.hamburger__span {
  width: 48px;
  height: 2px;
  background-color: var(--blue);
  border-radius: 4px;
  transition: 0.3s;
}
.span2-hidden {
  transform: translateX(-120%);
  transition: 0.3s ease;
}
.rotate45deg {
  position: absolute;
  transform: rotate(45deg);
  transition: 0.3s;
}
.rotate-45deg {
  position: absolute;
  transform: rotate(-45deg);
  transition: 0.3s;
}
.logo {
  position: relative;
  width: 106px;
  height: 82px;
}
.logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__info {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 56px;
  color: var(--blue);
}
.languageChanger {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-style: italic;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}
.languagesDiv {
  position: absolute;
  top: 20px;
  left: -10px;
  background-color: var(--white);
  color: #000;
  width: 120px;
  display: none;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 30px 45px rgba(0, 0, 0, 0.1);
  z-index: 2;
  transition: 0.3s;
}
.languageChanger:hover .languagesDiv {
  animation: fadeIn 0.3s ease;
  display: flex;
  transition: 0.3s;
}
.languageChanger:hover .chevronDown {
  transform: rotate(180deg);
  transition: 0.3s;
}
.language {
  padding: 12px;
  font-style: normal;
  font-weight: 500;
  transition: 0.3s;
  background-color: var(--white);
}
.language:hover {
  color: var(--pink);
  transition: 0.3s;
}
.chevronDown {
  width: 20px;
  height: 20px;
  transition: 0.3s;
}
.headerPhoneDiv {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer; 
}
.headerPhoneDiv:hover .phoneIcon {
  animation: phoneRing 0.5s ease infinite;
}
.headerPhoneNumber{ 
  font-family: "Roboto Flex", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  transition: 0.3s;
}
.phoneIcon {
  width: 28px;
  height: 28px;
  transition: 0.3s;
}
/* ===== MOBILE-HEADER ===== */
.mobileHeader {
  position: fixed;
  padding-top: 20px;
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  z-index: 99;
}
.mobileHeader__inner {
  animation: fadeIn 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--white);
}
.mobileNavigation {
  display: flex;
  flex-direction: column;
  gap: 56px;
  margin-top: 60px;
}
.pageLinkDiv {
  display: flex;
  align-items: flex-end;
  gap: 24px;
}
.pageLinkDiv:nth-child(1), .pageLinkDiv:nth-child(3), .pageLinkDiv:nth-child(5) {
  margin-left: 55px;
}
.pageNumber {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: var(--white);
  opacity: 0.4;
  margin-bottom: 8px;
}
.pageLink {
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  line-height: 64px;
  font-weight: 500;
  color: var(--white);
  transition: 0.3s;
}
.pageLink:hover {
  color: var(--pink);
  transition: 0.3s;
}
.activeLink {
  font-style: italic;
  color: var(--pink);
}
.otherMobileNavigation {
  display: flex;
  align-items: center;
  gap: 64px;
  margin-top: 8%;
}
.headerEmailDiv {
  display: flex;
  align-items: center;
  gap: 12px;
  transition: 0.1s;
}
.headerEmailDiv:hover, .headerPhoneDiv:hover {
  color: var(--pink);
  transition: 0.1s; 
}
.saltImage {
  position: absolute;
  top: 5%;
  right: 2%;
  width: 50%;
  height: 70%;
  mix-blend-mode: lighten;
}
.mobileLanguageChanger {
  display: none;
  padding: 4px;
  background-color: var(--white);
  border-radius: 24px;
  margin-bottom: 44px;
  color: #1B1C2F;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 22px;
}
.languageChangerLink {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.linkActivated {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 24px;
  padding: 9px 22px;
}
.mobileLogo {
  display: none;
}
/* ===== PAGE-NAVIGATION ===== */
.pageNavigation__content {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 70px 0 70px 0;
}
.pageName {
  font-family: "Exo 2", sans-serif;
  font-size: 64px;
  line-height: 96px;
  font-weight: 600;
  text-transform: uppercase;
  max-width: 1090px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis; 
}
.navigationNode {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  font-size: 24px;
  line-height: 28px;
}
.navigationNode__element {
  color: var(--white);
  opacity: 0.8;
  transition: 0.3s;
}
.navigationNode__element:hover {
  opacity: 1;
  transition: 0.3s;
}
/* ===== CONTACT ===== */
/* ===== FOOTER ===== */
footer {
  margin-top: 144px;
  border-radius: 56px 56px 0 0;
  background-color: var(--blue);
  color: var(--white);
  padding: 8px 0 100px 0;
  font-family: "Inter", sans-serif;
}
.footer__inner {
  display: flex;
  flex-direction: column;
}
.footer__nav {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}
.footerNav__img {
  position: relative;
  width: 250px;
  height: 250px;
}
.footerNav__img img, .footerNav__imgMobile img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footerNav__imgMobile {
  position: relative;
  width: 96px;
  height: 96px;
  display: none;
}
.footerNav__link {
  font-size: 20px;
  line-height: 24px;
  transition: 0.3s;
}
.footerNav__link:hover {
  color: var(--pink);
  transition: 0.3s;
}
#footerHomeLink, #contactText {
  display: none;
}
.footer__contact {
  display: flex;
  align-items: center;
  gap: 100px;
  justify-content: space-between;
  margin-top: 20px;
}
.footerIcon {
  width: 32px;
  height: 32px;
}
.footerContact__location {
  display: flex;
  gap: 8px;
  cursor: pointer;
}
.footerContactText {
  max-width: 490px;
  font-size: 24px;
  line-height: 32px;
  width: 100%;
  font-weight: 500;
}
.footerContact__numbers {
  display: flex;
  align-items: center;
  gap: 8px;
}
.numberDiv__number {
  transition: 0.3s;
  font-weight: 500;
}
.numberDiv__number:hover {
  color: var(--pink);
  transition: 0.3s;
}
.footerNumberDiv {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  line-height: 40px;
}
.footerContact__email {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.footerContact__email:hover {
  color: var(--pink);
  transition: 0.3s;
}
.footer__info {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copyrightDiv {
  display: flex;
  gap: 12px;
}
.smText {
  font-size: 18px;
  line-height: 24px;
}
.socialMedia {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}
.socialMediaDiv {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.socialMediaDiv:hover {
  background-color: var(--pink);
  transition: 0.3s;
}
.socialMediaIcon {
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
.ndcLogoDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.ndcLogo {
  width: 78px;
  height: 24px;
}
.aboutNdc {
  font-size: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.currentYear {
  font-size: 10px;
  line-height: 16px;
}

@media(max-width: 1800px) {
  .main {
    margin-top: 108px;
  }
  .header__inner {
    padding-top: 0;
    padding-bottom: 0;
  }
  .hamburgerDiv {
    gap: 6px;
  }
  .hamburger {
    gap: 6px;
  }
  .hamburger__span {
    width: 32px;
  }
  .languageChanger {
    font-size: 16px;
    line-height: 24px;
  }
  .phoneIcon {
    width: 24px;
    height: 24px;
  }
  .headerPhoneNumber {
    font-size: 16px;
    line-height: 24px;
  }
  .mobileNavigation {
    gap: 32px;
  }
  .pageNumber {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
  }
  .pageLink {
    font-size: 32px;
    line-height: 40px;
  }
  .otherMobileNavigation {
    margin-top: 12%;
  }
  .saltImage {
    top: 10%;
    width: 45%;
    height: 60%;
  }
  .section {
    margin-top: 72px;
  }
  .sectionTitle {
    font-size: 56px;
    line-height: 64px;
  }
  .sectionDesc {
    max-width: 780px;
    font-size: 18px;
    line-height: 26px;
  }
  .navigationNode {
    font-size: 16px;
    line-height: 24px;
    gap: 16px;
  }
  footer {
    margin-top: 80px;
    border-radius: 48px 48px 0 0;
    padding: 8px 0 60px 0;
  }
  .footerNav__img {
    width: 200px;
    height: 200px;
  }
  .footerNav__link, .smText, .numberDiv__number, .footerContactText {
    font-size: 16px;
    line-height: 24px;
  }
  .footerIcon {
    width: 24px;
    height: 24px;
  }
   #emailIcon {
    width: 32px;
    height: 30px;
  }
  .footerContactText {
    max-width: 340px;
  }
}

@media(max-width: 1200px) {
  .otherMobileNavigation {
    margin-top: 5%;
  }
  .footer__contact {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .footerContactText {
    max-width: 360px;
  }
}

@media(max-width: 1024px) {
  .pageLinkDiv {
    gap: 16px;
  }
  .pageLink {
    font-size: 26px;
    line-height: 36px;
  }
  .header__info {
    gap: 24px;
  }
  .pageName {
    font-size: 52px;
    line-height: 60px;
  }
}

@media(max-width: 768px) {
  .header__inner {
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .hamburgerDiv {
    position: relative;
    left: 0;
  }
  .hamburger {
    position: static;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .otherMobileNavigation {
    margin-top: 3%;
  }
  .pageLinkDiv:nth-child(1), .pageLinkDiv:nth-child(3), .pageLinkDiv:nth-child(5) {
    margin: 0;
  }
  .mobileLanguageChanger {
    display: flex;
    display: -webkit-flex;
  }
  .header__info {
    display: none;
  }
  .saltImage {
    display: none;
  }
  .otherMobileNavigation {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 48px;
  }
  .mobileNavigation {
    margin-top: 10px;
    gap: 40px;
  }
  .pageNavigation__content {
    border-radius: 24px;
    padding: 46px 20px;
    gap: 8px;
  }
  .pageName {
    font-size: 48px;
    line-height: 52px;
  }
  #innerPageName {
    text-align: left;
  }
  .sectionTitle {
    font-size: 48px;
    line-height: 52px;
  }
  .sectionDesc {
    font-size: 16px;
    line-height: 24px;
  }
  .socialMedia {
    margin-top: 8px;
  }
  footer {
    border-radius: 24px 24px 0 0;
    padding: 40px 0;
    margin-top: 40px;
  }
  .footerNav__img {
    display: none;
  }
  .footerNav__imgMobile {
    display: block;
    margin-bottom: 16px;
  }
  .footer__nav {
    column-gap: 40px;
    row-gap: 24px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  #footerHomeLink, #contactText {
    display: contents;
  }
  .footerNav__link {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
  }
  .footerContactText {
    font-size: 14px;
    line-height: 22px;
    max-width: 290px;
  }
  .smText, .numberDiv__number {
    font-size: 14px;
    line-height: 22px;
  }
  .footer__contact {
    border-top: 1px solid #E3E3FF;
    margin-top: 32px;
    padding-top: 16px;
    gap: 10px;
  }
  .footer__info {
    border-top: 1px solid #E3E3FF;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    margin-top: 32px;
    padding-top: 16px;
  }
}

@media(max-width: 600px) {
  .logo {
    width: 75px;
    height: 56px;
  }
  .pageNumber {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 3px;
  }
  .pageLink {
    font-size: 18px;
    line-height: 24px;
  }
  .hamburger__span {
    width: 24px;
  }
  .hamburger__text {
    display: none;
  }
  .pageName {
    font-size: 32px;
    line-height: 40px;
  }
  .navigationNode {
    font-size: 14px;
    line-height: 20px;
    column-gap: 12px;
    row-gap: 4px;
  }
  .sectionTitle {
    font-size: 32px;
    line-height: 40px;
  }
  .sectionDesc {
    font-size: 14px;
    line-height: 22px;
    margin-top: 16px;
  }
  .ndcLogoDiv {
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }
  .currentYear {
    font-size: 14px;
    line-height: 20px;
  }
  .copyrightDiv {
    flex-direction: column;
    gap: 16px;
  }
}