html {
  overflow-x: hidden;
}

/* ===== HERO ===== */
.hero {
  height: calc(100vh + 60px);
  background-color: var(--blue);
  border-radius: 0 0 64px 64px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: var(--white);
  position: relative;
  /* background-image: url("../media/homeIntro.png");
  background-repeat: no-repeat;
  background-size: cover; */
}

.hero img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero__inner {
  height: 100vh;
  display: flex;
}

.heroHeader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--blue);
  border: 1px solid rgba(255, 255, 255, 0.16);
  padding: 20px 12px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.languageChanger:hover .languagesDivHome {
  animation: fadeIn 0.3s ease;
  display: flex;
  transition: 0.3s;
}

.languagesDivHome {
  position: absolute;
  bottom: 24px;
  left: -10px;
  background-color: var(--white);
  color: #000;
  width: 120px;
  display: none;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 30px 45px rgba(0, 0, 0, 0.1);
  z-index: 2;
  transition: 0.3s;
}

.logoHome {
  position: relative;
  width: 81px;
  height: 62px;
}

.hamburger {
  position: relative;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hamburger__spanHome {
  width: 48px;
  height: 2px;
  background-color: var(--white);
  border-radius: 4px;
  transition: 0.3s;
}

.logoHome img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heroContent {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heroMainText {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 208px;
}

.moreBtn {
  width: 269px;
  height: 312px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--white);
  transform: rotate(48.61deg);
  color: var(--white);
  font-family: "Roboto Flex";
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

.moreBtn:hover .arrowRight {
  transform: translateX(10px);
  transition: 0.3s;
}

.arrowRight {
  width: 27px;
  height: 27px;
  transition: 0.3s;
}

.moreBtn__content {
  transform: rotate(-48.61deg);
  max-width: 112px;
  width: 100%;
}

.heroContent__title {
  font-family: "Exo 2";
  font-size: 80px;
  line-height: 96px;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  max-width: 640px;
  width: 100%;
}

.heroContent__subtitle {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  color: var(--white);
  opacity: 0.64;
  max-width: 476px;
  width: 100%;
}

.heroNavigation {
  padding-right: 80px;
  display: flex;
  align-items: center;
  gap: 85px;
}

.heroNavigation__nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-end;
}

.heroNav__btn {
  font-family: 'Roboto';
  font-size: 24px;
  line-height: 32px;
  font-weight: 900;
  font-style: italic;
  cursor: pointer;
  transition: 0.3s;
  color: var(--white);
  text-align: end;
}

.heroNav__btn:hover {
  color: var(--pink);
  transition: 0.3s;
}

.heroContactDiv {
  position: absolute;
  top: 80px;
  right: 80px;
  display: flex;
  align-items: center;
  gap: 64px;
}

/* ===== Mobile Header ===== */
.heroMobileHeader {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  z-index: 9;
  display: none;
  align-items: center;
}

.salt {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: -1;
}

.salt__inner {
  position: relative;
  width: 55%;
  height: 80%;
}

.mobileHeader__inner {
  padding-left: 160px;
}

.absolute {
  display: contents;
  position: absolute;
  bottom: -70px;
  right: -20px;
  backdrop-filter: blur(5px);
}

.more {
  width: 180px;
  height: 220px;
  transform: rotate(48deg);
  border: 1px solid var(--pink);
  color: var(--pink);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  padding: 20px;
}

.more__inner {
  display: flex;
  align-items: center;
  gap: 4px;
  transform: rotate(-48deg);
  font-family: "Roboto Flex";
  font-size: 24px;
  line-height: 32px;
}

.more:hover {
  background-color: rgba(227, 24, 139, 0.1);
  /* box-shadow: 0 30px 45px rgba(0, 0, 0, 0.2); */
  transition: 0.3s;
}

.more:hover .arrowRight {
  transform: translateX(10px);
  transition: 0.3s;
}

/* ===== PRODUCTS ===== */
.advantagesBlock {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
  margin-top: 32px;
}

.advantage {
  width: 100%;
  border: 1px solid var(--light-blue);
  border-radius: 24px;
  overflow: hidden;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.advantageIcon {
  width: 72px;
  height: 72px;
  background-color: var(--light-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.advantage__icon {
  width: 40px;
  height: 40px;
  color: var(--blue);
}

.advantageText {
  font-family: "Roboto";
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: #353437;
}

/* ===== BANNER ===== */
.bannerSection {
  margin-top: 123px;
}

.banner {
  width: 100%;
  height: 430px;
  background-color: var(--light-blue);
  border-radius: 48px;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  gap: 57px;
  padding: 0 70px;
}

.bannerText {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--blue);
  width: 100%;
}

.bannerTitle {
  font-family: "Exo 2";
  font-size: 48px;
  line-height: 64px;
  font-weight: 700;
  font-style: italic;
  max-width: 440px;
  width: 100%;
  text-transform: uppercase;
}

.bannerSubtitle {
  font-family: "Inter";
  font-size: 18px;
  line-height: 28px;
  max-width: 480px;
  width: 100%;
}

#bannerTextMore {
  display: none;
}

.bannerImage {
  position: relative;
  z-index: 0;
  height: 100%;
  width: 60%;
}

.bottleFront {
  position: absolute;
  top: -15%;
  left: 30%;
  z-index: -1;
  width: 320px;
  height: 560px;
  object-fit: cover;
  /* border: 1px solid red; */
}

.bottleBack {
  position: absolute;
  top: 10%;
  left: 8%;
  width: 170px;
  height: 300px;
  object-fit: cover;
  /* border: 1px solid black; */
  z-index: -2;
}

/* ===== PRODUCT-SECTION ===== */
.productImageDiv.isActive {
  display: block;
  transition: 0.3s;
}

.activeProduct__title.isActive {
  display: block;
}

.productSection {
  margin-top: 65px;
}

.productSection__inner {
  max-width: 1520px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.product {
  padding: 56px 100px;
  background-color: rgba(245, 245, 247, 0.48);
  border-radius: 56px;
  display: flex;
  gap: 24px;
}

.productImageDiv {
  border: 1px solid var(--light-blue);
  border-radius: 24px;
  max-width: 310px;
  width: 100%;
  position: relative;
  display: none;
}

.activeProduct__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 24px;
}

.productContentDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.otherProductsDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.productMini {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 28px;
  cursor: pointer;
  background-color: #FAFAFB;
  border: 1px solid var(--light-blue);
  transition: 0.3s;
}

.productMini:nth-child(1) {
  border-right: none;
  /* border-radius: 24px 0 0 24px; */
}

.productMini:nth-child(3) {
  border-left: none;
  /* border-radius: 0 24px 24px 0; */
}

.productMini:hover .arrowRightDiv {
  transform: translateX(5px);
  transition: 0.3s;
}

.productMini__image {
  position: relative;
  max-width: 100px;
  max-height: 100px;
  width: 100%;
}

.productMini__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productMini__title {
  font-family: "Roboto";
  font-size: 20px;
  line-height: 24px;
  color: var(--blue);
  font-weight: 600;
  width: 100%;
}

.productMini__content {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.productMini__weight {
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 600;
  gap: 8px;
  color: var(--pink);
  font-family: "Roboto";
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.arrowRightDiv {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.otherProductsTop {
  display: flex;
  align-items: center;
  gap: 43px;
  justify-content: space-between;
}

.activeProductMini {
  position: relative;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  border: none;
  /* padding: 24px 26px; */
  border-radius: 8px;
  transition: 0.3s;
}

.activeProductMini::after {
  content: "";
  position: absolute;
  top: -18px;
  left: 44%;
  width: 38px;
  height: 18px;
  background-color: #FAFAFB;
  display: flex;
  justify-content: center;
  clip-path: polygon(51% 40%, 0% 100%, 100% 100%);
}

.productInfoDiv {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.activeProduct__title {
  font-family: "Exo 2";
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  color: var(--blue);
  display: none;
}

.activeProduct__info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.activeProduct__allInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.titleDiv {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #7A7BD3;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 20px;
}

.activeIcon {
  width: 16px;
  height: 16px;
}

.allInfo__text {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 28px;
  color: var(--blue);
}

/* ===== ===== */
.aboutImg__content {
  position: relative;
}

#aboutImgMore {
  position: absolute;
  right: -20px;
  bottom: -50px;
  backdrop-filter: blur(5px);
  background-color: rgba(227, 24, 139, 0.1);
}

#aboutTextMore {
  display: none;
}

@media (max-width: 1800px) {
  .productSection__inner {
    max-width: 1340px;
  }

  .product {
    padding: 48px;
    border-radius: 48px;
  }

  .productMini {
    padding: 14px;
  }

  .productMini__content {
    gap: 20px;
  }

  .productMini__title {
    font-size: 14px;
    line-height: 20px;
  }

  .productContentDiv {
    gap: 24px;
  }

  .otherProductsTop {
    gap: 24px;
  }

  .more {
    width: 180px;
    height: 200px;
  }

  .mobileHeader__inner {
    padding-left: 100px;
  }

  .heroHeader {
    padding: 12px 6px;
  }

  .hamburger {
    width: 40px;
    height: 40px;
  }

  .heroMobileHeader {
    padding-left: 70px;
  }

  .hamburger__spanHome {
    width: 36px;
  }

  .heroMainText {
    padding-left: 160px;
  }

  .heroContent__title {
    font-size: 64px;
    line-height: 80px;
    max-width: 540px;
  }

  .heroContent__subtitle {
    font-size: 18px;
    line-height: 26px;
    max-width: 420px;
  }

  .heroNavigation {
    padding-right: 60px;
    gap: 40px;
  }

  .moreBtn {
    width: 240px;
    height: 290px;
    transform: rotate(30deg);
  }

  .moreBtn__content {
    transform: rotate(-30deg);
  }

  .heroNav__btn {
    font-size: 20px;
    line-height: 28px;
  }

  .salt__inner {
    width: 40%;
    height: 60%;
  }

  .advantageText {
    font-size: 18px;
    line-height: 24px;
  }

  .banner {
    height: 400px;
  }

  .bottleFront {
    width: 300px;
    height: 500px;
    top: -8%;
  }

  .bottleBack {
    width: 140px;
    left: 15%;
  }
}

@media (max-width: 1240px) {
  .otherProductsDiv {
    grid-template-columns: 1fr;
  }

  .productImageDiv {
    max-height: 340px;
  }

  .activeProduct__title {
    font-size: 24px;
    line-height: 26px;
  }

  .activeProductMini::after {
    display: none;
  }

  .productMini:nth-child(1) {
    border-right: 1px solid var(--light-blue);
  }

  .productMini:nth-child(3) {
    border-left: 1px solid var(--light-blue);
  }

  .productMini__weight,
  .titleDiv {
    font-size: 14px;
    line-height: 20px;
  }

  .allInfo__text {
    font-size: 16px;
    line-height: 24px;
  }

  .salt__inner {
    width: 55%;
  }

  .heroMainText {
    padding-left: 128px;
  }

  .heroContent__title {
    font-size: 52px;
    line-height: 60px;
  }

  .heroNavigation {
    padding-right: 32px;
    gap: 32px;
  }

  .moreBtn {
    width: 200px;
    height: 260px;
    font-size: 16px;
    line-height: 24px;
  }

  .moreBtn__content {
    max-width: fit-content;
    display: flex;
    gap: 4px;
    align-items: center;
  }

  .heroContactDiv {
    gap: 40px;
  }

  .heroHeader {
    padding: 8px 0;
  }

  .advantageText {
    font-size: 16px;
    line-height: 22px;
  }

  .banner {
    height: 360px;
    gap: 24px;
    padding: 0 48px;
  }

  .bannerTitle {
    font-size: 40px;
    line-height: 46px;
  }

  .bannerSubtitle {
    font-size: 16px;
    line-height: 24px;
    max-width: 440px;
  }

  .bottleFront {
    width: 260px;
    height: 440px;
    top: -5%;
  }

  .bottleBack {
    height: 260px;
    left: 10%;
  }

  .more {
    width: 160px;
    height: 180px;
  }

  .more__inner {
    font-size: 20px;
    line-height: 26px;
  }
}

@media (max-width: 1024px) {
  .product {
    padding: 36px;
  }

  .more {
    font-size: 16px;
    line-height: 24px;
    width: 160px;
    height: 180px;
    right: 20px;
  }

  .mobileHeader__inner {
    padding-left: 20px;
  }

  .heroMobileHeader {
    padding-left: 20px;
  }

  .hero__inner {
    flex-direction: column;
  }

  .heroHeader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    flex-direction: row;
    justify-content: center;
    height: max-content;
    padding: 12px 20px;
  }

  .hamburger {
    position: absolute;
    left: 20px;
    width: 44px;
    height: 44px;
  }

  .hamburger__spanHome {
    width: 32px;
  }

  .languageChanger {
    position: absolute;
    right: 20px;
  }

  .languagesDivHome {
    bottom: 0;
    top: 24px;
  }

  .heroContactDiv {
    display: none;
  }

  .heroMainText {
    padding-left: 32px;
  }

  .heroContent__title {
    font-size: 44px;
    line-height: 48px;
  }

  .heroContent__subtitle {
    font-size: 16px;
    line-height: 24px;
    max-width: 360px;
  }

  .moreBtn {
    width: 160px;
    height: 200px;
  }

  .moreBtn__content {
    max-width: 100px;
    align-items: flex-end;
    gap: 0;
  }

  .heroNavigation__nav {
    gap: 24px;
  }

  .heroNav__btn {
    font-size: 18px;
    line-height: 26px;
  }

  .advantagesBlock {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .banner {
    height: 300px;
    gap: 36px;
  }

  .bannerTitle {
    font-size: 32px;
    line-height: 36px;
    max-width: 360px;
  }

  .bannerSubtitle {
    font-size: 14px;
    line-height: 22px;
    max-width: 380px;
  }

  .more {
    width: 120px;
    height: 140px;
  }

  .more__inner {
    font-size: 16px;
    line-height: 24px;
  }

  .arrowRight {
    width: 20px;
    height: 20px;
  }

  .bottleFront {
    left: -15%;
    height: 280px;
    top: 5%;
  }

  .bottleBack {
    left: 0;
    top: 30%;
    height: 100px;
    width: 60px;
  }
}

.mobileProductContainer {
  display: none;
}

@media (max-width: 768px) {
  .product {
    display: none;
  }

  .mobileProductContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .mobileProduct__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobileProduct__top>p {
    font-family: "Exo 2";
    font-size: 24px;
    line-height: 32px;
    color: var(--blue);
    font-weight: 600;
  }

  .mobileProduct__link {
    color: var(--pink);
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .mobileProduct__link span {
    font-family: "Exo 2";
  }

  .activeProductMobile {
    border: 1px solid var(--light-blue);
    margin-top: 24px;
    padding: 14px 12px;
    display: flex;
    gap: 24px;
    border-radius: 16px;
    overflow: hidden;
  }

  .mobileProducts {
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    margin-top: 8px;
  }

  .mobileMiniProduct {
    border: 1px solid var(--light-blue);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    border-radius: 16px;
    transition: 0.3s;
    overflow: hidden;
  }

  .mobileProduct__title {
    font-family: "Exo 2";
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: var(--blue);
    text-align: center;
  }

  .mobileProduct__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }

  .mobileProduct__image {
    position: relative;
    max-width: 120px;
    width: 100%;
    height: 160px;
  }

  .miniActiveProductImageDiv.isActive {
    display: block;
  }

  .miniActiveProductImageDiv {
    display: none;
    position: relative;
    border: none;
    width: 100%;
    height: 220px;
  }

  .activeProduct__img {
    padding: 0;
  }

  .activeProductMobile__content {
    width: 100%;
  }

  .productMini__weight {
    justify-content: center;
  }

  .activeProduct__info {
    margin-top: 16px;
    gap: 16px;
  }

  .titleDiv {
    font-size: 12px;
    line-height: 18px;
  }

  .allInfo__text {
    font-size: 14px;
    line-height: 16px;
  }

  .otherProductsTop {
    gap: 0;
  }

  .miniTitle.isActive {
    display: block;
  }

  .miniTitle {
    display: none;
    font-size: 18px;
    line-height: 24px;
  }

  #productMore {
    display: none;
  }

  #aboutImgMore {
    display: none;
  }

  #aboutTextMore {
    display: flex;
  }

  .mobileMoreBtnDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  #aboutDesc {
    max-width: 260px;
    width: 100%;
    text-align: left;
  }

  .heroMobileHeader {
    padding-left: 0;
  }

  .mobileHeader__inner {
    margin-top: 106px;
  }

  .heroContent {
    flex: none;
    margin-top: 110px;
    flex-direction: column;
    align-items: flex-start;
  }

  .heroHeader {
    border: none;
    justify-content: space-between;
    align-items: center;
  }

  .logoHome {
    position: relative;
  }

  .hamburger {
    position: relative;
    left: 0;
    width: 32px;
    height: 32px;
  }

  .hamburger__spanHome {
    width: 24px;
  }

  .heroNavigation__nav {
    display: none;
  }

  .languageChanger {
    display: none;
  }

  .heroNavigation {
    padding-right: 0;
    padding-left: 32px;
    margin-top: 32px;
  }

  .moreBtn {
    width: 120px;
    height: 140px;
    font-size: 14px;
    line-height: 24px;
  }

  .moreBtn__content {
    position: relative;
    max-width: 65px;
  }

  .arrowRight {
    position: absolute;
    right: 0;
  }

  .hero {
    border-radius: 0 0 40px 40px;
  }

  .hero>img {
    height: 63%;
    bottom: 0;
    top: auto;
    object-fit: cover;
  }

  .heroContent__title {
    font-size: 40px;
    line-height: 48px;
  }

  .heroContent__subtitle {
    font-size: 14px;
    line-height: 20px;
    max-width: 300px;
  }

  .advantagesBlock {
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }

  .advantage {
    gap: 8px;
    padding: 16px;
  }

  .advantageIcon {
    width: 48px;
    height: 48px;
  }

  .advantage__icon {
    width: 24px;
    height: 24px;
  }

  .advantageText {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }

  .bannerSection {
    margin-top: 72px;
  }

  .banner {
    display: -webkit-flex;
    flex-direction: column;
    height: 480px;
    padding: 16px;
    border-radius: 24px;
    gap: 0;
  }

  #bannerMore {
    display: none;
  }

  #bannerTextMore {
    display: flex;
  }

  .extraBannerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  .bannerText {
    gap: 12px;
  }

  .bannerSubtitle {
    font-size: 14px;
    line-height: 20px;
    max-width: 445px;
    color: #353437;
  }

  .bannerTitle {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    font-style: normal;
    max-width: 100%;
  }

  .bannerImage {
    height: 330px;
    width: 100%;
  }

  .more {
    width: 110px;
    height: 130px;
    background-color: rgba(227, 24, 139, 0.1);
  }

  .more__inner {
    width: 100%;
    font-size: 14px;
    line-height: 24px;
  }

  .bottleFront {
    height: 400px;
    top: -20%;
    left: 30%;
    width: 320px;
  }

  .bottleBack {
    width: 100px;
    height: 200px;
    left: 30%;
    top: 5%;
  }
}

@media (max-width: 600px) {
  .more {
    width: 110px;
    height: 120px;
  }

  .mobileHeader__inner {
    margin-top: 14px;
  }

  .bottleFront {
    width: 180px;
    height: 310px;
    top: -15%;
  }

  .bannerTitle {
    font-size: 20px;
    text-align: center;
  }

  .bannerSubtitle {
    max-width: 225px;
  }

}

@media (max-width: 400px) {
  #aboutDesc {
    max-width: 200px;
    width: 100%;
    text-align: left;
  }

  .bannerSubtitle {
    max-width: 200px;
  }

  .bottleFront {
    height: 260px;
    left: 25%;
  }
}